In [1]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

In [13]:
import matplotlib.pyplot as plt
import pandas as pd
csv=links['GDP']
Gross=pd.read_csv(csv)

In [15]:
Gross.head(5)

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

In [16]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
csv=links['unemployment']
Data=pd.read_csv(csv)

In [18]:
Data.head(5)

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

In [22]:
Unemployment_data=Data[Data.unemployment>8.5]

In [23]:
Unemployment_data

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

In [24]:
import matplotlib.pyplot as plt
import pandas as pd
csv=links['GDP']
Gross=pd.read_csv(csv)
dashbord=pd.DataFrame(Gross.date)

In [26]:
dashbord.head()

   date
0  1948
1  1949
2  1950
3  1951
4  1952

In [31]:
B=Gross['level-current']

In [32]:
dash=pd.DataFrame(B)

In [39]:
dash.head()

   level-current
0          274.8
1          272.8
2          300.2
3          347.3
4          367.7